/*Här kan vi samla färger, typsnitt, spacing*/
$color-background: white;
$color-primary: #ffffff;
$color-dark: #000000;
$color-light: #b6b1b1;
$color-text: #000000;

//typsnitt
$font-base: "Roboto", sans-serif;

//spacing
$spacing-unit:1rem;






